<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="login.css"> -->
    <link href="static/login/login.css" rel="stylesheet" media="screen">

  </head>

  <body>

    <img src="static/login/1.jpg">
    <form class="box" action=" "  method="post">
      <h1>Welcome Please Login</h1>
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Login">
    </form>

</body>
</html>